<configuration>
  <packageSources>
    <add key="i18u" value="https://nuget.pkg.github.com/i18u/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <i18u>
      <add key="Username" value="i18u" />
      <add key="ClearTextPassword" value="{{Password}}" />
    </i18u>
  </packageSourceCredentials>
</configuration>