<configuration>
  <config>
    <add key="defaultPushSource" value="https://nuget.pkg.github.com/i18u/index.json" />
  </config>
  <packageSources>
    <add key="i18u" value="https://nuget.pkg.github.com/i18u/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <i18u>
      <add key="Username" value="i18u-service" />
      <add key="ClearTextPassword" value="2ded34727e64a4b6fb38c015a970cf9e213c69bd" />
    </i18u>
  </packageSourceCredentials>
</configuration>